body {
    font-family: Arial, sans-serif;
    background-color: #1ed30e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clock {
    text-align: center;
    background-color: #f324ca;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    font-size: 48px;
    margin-bottom: 10px;
    color: #0b0808;
}

.buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease-in-out;
}

.buttons button:hover {
    background-color: #0056b3;
}
